* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;

}

.board {
    background-color: #bebebe;
    width: 57.5em;
    height: 17.5em;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.dino {
    background: url("assets/dino.png") repeat-x 0px 0px;
    width: 84px;
    height: 84px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    background-size: 336px 84px;
    background-position-x: 0px;
    z-index: 10;
}

.dino-run {
    animation: dinoRun .25s steps(2) infinite;
}

.dino-jump {
    animation: dinoJump 1s linear;
}

@keyframes dinoRun {
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}

@keyframes dinoJump {
    0%{
        bottom: 22px;
    }

    45%, 55% {
        bottom: 150px;
    }
}

@keyframes floorMovement {
    from{
        left: 0;
    }
    to {
        left: -100%;
    }
}

.floor {
    width: 200%;
    height: 42px;
    background: url("assets/suelo.png") repeat-x 0px 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: 50% 42px;
    animation: floorMovement 2.5s linear infinite;
}

.score {
    width: 100px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: 5px;
    color: #080808;
    font-weight: bold;
    text-align: right;
}